<html lang="en"><div id="twoseven-scripts" data-info="Scripts added by TwoSeven extension" style="display: none !important; position: static !important; top: 0px !important; left: 0px !important; width: 0px !important; height: 0px !important;"><script type="text/javascript" id="__tmpScript-994280002" data-added-by-two-seven="1">(function() {
        window.twoseven = {};
      })();</script><script type="text/javascript" id="__tmpScript-882873849" data-added-by-two-seven="1">(function() {
        window.twoseven.waitForDOMNode = async function t(e,t=document){e=e||{};const{type:n,value:o}=e;if(!n||!o)throw new Error("Must specify identifier");let s=o;switch(n){case"tag":s=o.toUpperCase()}if("check"!==n){const e=await i({type:"selector",value:s},[],t);if(e)return new Promise(t=>t(e))}async function i({type:e,value:t},n,o){let s;switch(e){case"tag":s=n.find(e=>e.tagName===t);break;case"selector":s=o.querySelector(t);break;case"check":for(const e of n){if(await t(e))return e}}return s}return new Promise((e,o)=>{const a=new MutationObserver(async o=>{for(const r of o)if("childList"===r.type){const o=Array.from(r.addedNodes),w=await i({type:n,value:s},o,t);if(w)return a.disconnect(),e(w)}});a.observe(t,{childList:!0,subtree:!0})})};
      })();</script><script type="text/javascript" id="__tmpScript-213200231" data-added-by-two-seven="1">(function() {

    window.twoseven.reportError = function n(e,t,n){"string"==typeof(n=n||{})&&(n={message:n});const{message:o,stack:s}=t;Object.assign(n,{tag:e,error:{message:o,stack:s}}),window.tsExtGetPostToParent()({name:name,tag:e,action:"report-error",json:n}),console.error(JSON.stringify(n.error))}
  ;
      })();</script><script type="text/javascript" id="__tmpScript-633408244" data-added-by-two-seven="1">(function() {

    window.twosevenHmsToSecondsOnly = function(str) {
        var p = str.split(':'),
            s = 0, m = 1;

        while (p.length > 0) {
            s += m * parseInt(p.pop(), 10);
            m *= 60;
        }

        return s;
    }
  ;
      })();</script><script type="text/javascript" id="__tmpScript-64759554" data-added-by-two-seven="1">(function() {
        window.twosevenExtLog = function(e,o,c){o||(o=e,e=void 0);let n=c||"black";if(c)switch(c){case"success":n="Green";break;case"info":n="DodgerBlue";break;case"error":n="Red";break;case"warning":n="Orange";break;default:n=c}e?console.log("%c"+e+": "+o,`color:${n}`):console.log("%c"+o,`color:${n}`)};
      })();</script><script type="text/javascript" id="__tmpScript-565816537" data-added-by-two-seven="1">(function() {

    document.twosevenGET = function(url, callback) {
      var xmlhttp = new XMLHttpRequest();

      xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == XMLHttpRequest.DONE ) {
          if (xmlhttp.status == 200) {
            callback(null, xmlhttp.responseText);
          } else {
            callback('something else other than 200 was returned', '');
          }
        }
      };
      xmlhttp.open("GET", url, true);
      xmlhttp.send();
    };
  ;
      })();</script><script type="text/javascript" id="__tmpScript-845176022" data-added-by-two-seven="1">(function() {

    window.triggerEvent = function(e,t,n,o=!1){let s;o?(n&&"string"!=typeof n&&(n=JSON.stringify(n)),s=n):s={data:n},window.twosevenScriptsDiv&&n&&"object"==typeof n&&(console.warn(`WARNING: Attempting to send an object via event.detail from CS->Page does not work on Firefox: ${JSON.stringify(n)}`),console.error((new Error).stack));var i=new CustomEvent(t,{bubbles:!0,composed:!0,detail:s});e.dispatchEvent(i)}
  ;
      })();</script><script type="text/javascript" id="__tmpScript-867487143" data-added-by-two-seven="1">(function() {
        window.twoseven.postTo = async function o(e,t,n=!1){let o;return t.name=t.name||name,o=n?new Promise(e=>{const n=`ack-${t.action}-${1e9*Math.random()|0}`;t.ack={event:n};window.debug&&["play","pause","currentTime"].some(e=>t.action.includes(e)),window.addEventListener("message",function t({data:o={}}){o.action===n&&(window.removeEventListener("message",t),e(o.json))})}):new Promise(e=>e()),e.postMessage(t,"*"),o};
      })();</script><script type="text/javascript" id="__tmpScript-904976949" data-added-by-two-seven="1">(function() {
        window.tsExtGetPostTo = function s(){return window.twoseven&&window.twoseven.postTo||window.postTo};
      })();</script><script type="text/javascript" id="__tmpScript-260766206" data-added-by-two-seven="1">(function() {
        window.tsExtGetPostToParent = function i(){return window.twoseven&&window.twoseven.postToParent||window.postToParent};
      })();</script><script type="text/javascript" id="__tmpScript-998512191" data-added-by-two-seven="1">(function() {
        window.twoseven.postResponse = async function a(e,t){const{source:n,data:{ack:{event:o}}}=e;window.tsExtGetPostTo()(n,{action:o,json:t})};
      })();</script><script type="text/javascript" id="__tmpScript-716794614" data-added-by-two-seven="1">(function() {
        window.twoseven.postToParent = async function r(e,t=!1){return window.tsExtGetPostTo()(window.parent,e,t)};
      })();</script><script type="text/javascript" id="__tmpScript-937633719" data-added-by-two-seven="1">(function() {
        window.twoseven.postToTop = async function w(e,t=!1){return window.tsExtGetPostTo()(window.top,e,t)};
      })();</script><script type="text/javascript" id="__tmpScript-897601203" data-added-by-two-seven="1">(function() {

    window.twoseven.getFromStorage = e=>new Promise((t,n)=>{const o="get-from-storage-"+(1e9*Math.random()|0);window.addEventListener(o,e=>{window.removeEventListener(o,this);const{detail:{data:{value:n}}}=e;t(n)}),triggerEvent(window,"get-from-storage",{key:e,evt:o})})
    window.twoseven.saveToStorage = e=>{triggerEvent(window,"save-to-storage",e)}
  ;
      })();</script><script type="text/javascript" id="__tmpScript-773901799" data-added-by-two-seven="1">(function() {

    window.attachHistoryListeners = function d(){var e=history.pushState;history.pushState=function(t,n,o){return"function"==typeof history.onpushstate&&history.onpushstate({state:t}),triggerEvent(window,"pushstate",{uri:o}),e.apply(history,arguments)};var t=history.replaceState;history.replaceState=function(e){return"function"==typeof history.onreplacestate&&history.onreplacestate({state:e}),t.apply(history,arguments)}}
    window.attachHistoryListeners()
  ;
      })();</script><script type="text/javascript" id="__tmpScript-60265561" data-added-by-two-seven="1">(function() {
        window.twoseven.once = function c(e,t,n){e.addEventListener(t,function o(s){e.removeEventListener(t,o),n(s)})};
      })();</script><script type="text/javascript" id="__tmpScript-877513070" data-added-by-two-seven="1">(function() {

    window.twoseven.isOnTwoSevenTab = async () => {
      const result = await window.twoseven.postTo(window, { action: 'is-on-twoseven-tab' }, true)
      return result
    }
  ;
      })();</script><script type="text/javascript" id="__tmpScript-818977385" data-added-by-two-seven="1">(function() {

    window.twoseven.isPaused = async () => {
      const result = await window.twoseven.postTo(window, { action: 'twoseven:pause-state' }, true)
      return result
    }
  ;
      })();</script><script type="text/javascript" id="__tmpScript-236146737" data-added-by-two-seven="1">(function() {
        window.twoseven = {};
      })();</script><script type="text/javascript" id="__tmpScript-707626468" data-added-by-two-seven="1">(function() {
        window.twoseven.waitForDOMNode = async function t(e,t=document){e=e||{};const{type:n,value:o}=e;if(!n||!o)throw new Error("Must specify identifier");let s=o;switch(n){case"tag":s=o.toUpperCase()}if("check"!==n){const e=await i({type:"selector",value:s},[],t);if(e)return new Promise(t=>t(e))}async function i({type:e,value:t},n,o){let s;switch(e){case"tag":s=n.find(e=>e.tagName===t);break;case"selector":s=o.querySelector(t);break;case"check":for(const e of n){if(await t(e))return e}}return s}return new Promise((e,o)=>{const a=new MutationObserver(async o=>{for(const r of o)if("childList"===r.type){const o=Array.from(r.addedNodes),w=await i({type:n,value:s},o,t);if(w)return a.disconnect(),e(w)}});a.observe(t,{childList:!0,subtree:!0})})};
      })();</script><script type="text/javascript" id="__tmpScript-384958138" data-added-by-two-seven="1">(function() {

    window.twoseven.reportError = function n(e,t,n){"string"==typeof(n=n||{})&&(n={message:n});const{message:o,stack:s}=t;Object.assign(n,{tag:e,error:{message:o,stack:s}}),window.tsExtGetPostToParent()({name:name,tag:e,action:"report-error",json:n}),console.error(JSON.stringify(n.error))}
  ;
      })();</script><script type="text/javascript" id="__tmpScript-18715003" data-added-by-two-seven="1">(function() {

    window.twosevenHmsToSecondsOnly = function(str) {
        var p = str.split(':'),
            s = 0, m = 1;

        while (p.length > 0) {
            s += m * parseInt(p.pop(), 10);
            m *= 60;
        }

        return s;
    }
  ;
      })();</script><script type="text/javascript" id="__tmpScript-625119778" data-added-by-two-seven="1">(function() {
        window.twosevenExtLog = function(e,o,c){o||(o=e,e=void 0);let n=c||"black";if(c)switch(c){case"success":n="Green";break;case"info":n="DodgerBlue";break;case"error":n="Red";break;case"warning":n="Orange";break;default:n=c}e?console.log("%c"+e+": "+o,`color:${n}`):console.log("%c"+o,`color:${n}`)};
      })();</script><script type="text/javascript" id="__tmpScript-166449255" data-added-by-two-seven="1">(function() {

    document.twosevenGET = function(url, callback) {
      var xmlhttp = new XMLHttpRequest();

      xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == XMLHttpRequest.DONE ) {
          if (xmlhttp.status == 200) {
            callback(null, xmlhttp.responseText);
          } else {
            callback('something else other than 200 was returned', '');
          }
        }
      };
      xmlhttp.open("GET", url, true);
      xmlhttp.send();
    };
  ;
      })();</script><script type="text/javascript" id="__tmpScript-923989820" data-added-by-two-seven="1">(function() {

    window.triggerEvent = function(e,t,n,o=!1){let s;o?(n&&"string"!=typeof n&&(n=JSON.stringify(n)),s=n):s={data:n},window.twosevenScriptsDiv&&n&&"object"==typeof n&&(console.warn(`WARNING: Attempting to send an object via event.detail from CS->Page does not work on Firefox: ${JSON.stringify(n)}`),console.error((new Error).stack));var i=new CustomEvent(t,{bubbles:!0,composed:!0,detail:s});e.dispatchEvent(i)}
  ;
      })();</script><script type="text/javascript" id="__tmpScript-87474204" data-added-by-two-seven="1">(function() {
        window.twoseven.postTo = async function o(e,t,n=!1){let o;return t.name=t.name||name,o=n?new Promise(e=>{const n=`ack-${t.action}-${1e9*Math.random()|0}`;t.ack={event:n};window.debug&&["play","pause","currentTime"].some(e=>t.action.includes(e)),window.addEventListener("message",function t({data:o={}}){o.action===n&&(window.removeEventListener("message",t),e(o.json))})}):new Promise(e=>e()),e.postMessage(t,"*"),o};
      })();</script><script type="text/javascript" id="__tmpScript-298916544" data-added-by-two-seven="1">(function() {
        window.tsExtGetPostTo = function s(){return window.twoseven&&window.twoseven.postTo||window.postTo};
      })();</script><script type="text/javascript" id="__tmpScript-835418648" data-added-by-two-seven="1">(function() {
        window.tsExtGetPostToParent = function i(){return window.twoseven&&window.twoseven.postToParent||window.postToParent};
      })();</script><script type="text/javascript" id="__tmpScript-501232754" data-added-by-two-seven="1">(function() {
        window.twoseven.postResponse = async function a(e,t){const{source:n,data:{ack:{event:o}}}=e;window.tsExtGetPostTo()(n,{action:o,json:t})};
      })();</script><script type="text/javascript" id="__tmpScript-475401541" data-added-by-two-seven="1">(function() {
        window.twoseven.postToParent = async function r(e,t=!1){return window.tsExtGetPostTo()(window.parent,e,t)};
      })();</script><script type="text/javascript" id="__tmpScript-57743545" data-added-by-two-seven="1">(function() {
        window.twoseven.postToTop = async function w(e,t=!1){return window.tsExtGetPostTo()(window.top,e,t)};
      })();</script><script type="text/javascript" id="__tmpScript-481776362" data-added-by-two-seven="1">(function() {

    window.twoseven.getFromStorage = e=>new Promise((t,n)=>{const o="get-from-storage-"+(1e9*Math.random()|0);window.addEventListener(o,e=>{window.removeEventListener(o,this);const{detail:{data:{value:n}}}=e;t(n)}),triggerEvent(window,"get-from-storage",{key:e,evt:o})})
    window.twoseven.saveToStorage = e=>{triggerEvent(window,"save-to-storage",e)}
  ;
      })();</script><script type="text/javascript" id="__tmpScript-741929028" data-added-by-two-seven="1">(function() {

    window.attachHistoryListeners = function d(){var e=history.pushState;history.pushState=function(t,n,o){return"function"==typeof history.onpushstate&&history.onpushstate({state:t}),triggerEvent(window,"pushstate",{uri:o}),e.apply(history,arguments)};var t=history.replaceState;history.replaceState=function(e){return"function"==typeof history.onreplacestate&&history.onreplacestate({state:e}),t.apply(history,arguments)}}
    window.attachHistoryListeners()
  ;
      })();</script><script type="text/javascript" id="__tmpScript-266191781" data-added-by-two-seven="1">(function() {
        window.twoseven.once = function c(e,t,n){e.addEventListener(t,function o(s){e.removeEventListener(t,o),n(s)})};
      })();</script><script type="text/javascript" id="__tmpScript-10796663" data-added-by-two-seven="1">(function() {

    window.twoseven.isOnTwoSevenTab = async () => {
      const result = await window.twoseven.postTo(window, { action: 'is-on-twoseven-tab' }, true)
      return result
    }
  ;
      })();</script><script type="text/javascript" id="__tmpScript-715747469" data-added-by-two-seven="1">(function() {

    window.twoseven.isPaused = async () => {
      const result = await window.twoseven.postTo(window, { action: 'twoseven:pause-state' }, true)
      return result
    }
  ;
      })();</script><script type="text/javascript" id="__tmpScript-188977065" data-added-by-two-seven="1">(function() {

      const modal = document.querySelector('.twoseven-ext-tab-media-modal')
      const modalCloseBtn = modal.querySelector('.close')
      function closeModal () {
        modal.style.display = 'none'
        const frame = document.querySelector('#twoseven-ext-tab-media-iframe').contentWindow
        frame.postMessage({
          __evt_name: 'modal-hide'
        }, '*')
      }
      modalCloseBtn.onclick = closeModal

      window.onmessage = function (e) {
        if (e.data.__evt_name === 'modal-hide') {
          closeModal()
        }
      }

      window.twoseven.closeTabMediaModal = closeModal

      window.onclick = function (e) {
        if (e.target.id === 'twoseven-ext-tab-media-modal' && modal.style.display === 'block') {
            closeModal()
        }
      }
    ;
      })();</script></div><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SIGN INNNN</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <style>undefined</style><link href="chrome-extension://cjdnfmjmdligcpfcekfmenlhiopehjkd/web_resources/modal/modal.css" rel="stylesheet" id="__tmpStyle"><link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="true"><link rel="preconnect" href="https://fonts.gstatic.com"><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&amp;display=swa"></head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/login">
        <h2 class="form-signin-heading">Please sign in</h2>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
<div>
    <div id="twoseven-ext-tab-media-modal" class="twoseven-ext-tab-media-modal" style="display: none;">
        <!-- Modal content -->
        <div class="twoseven-ext-tab-media-modal-content">
            <div class="iframe-container" style="height: 100%; width: 100%;">
                <span class="close">×</span>
            </div>
        </div>
    </div></div></body></html>